@import "tailwindcss";

* {
  font-family: Outfit;
}

.hover-lightHover {
  transition: all 0.5s;
}

.hover-lightHover:hover {
  background-color: #d8e3f3; /* your lightHover color */
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(3, 1, 23, 0.5);
}

.hover-darkHover {
  transition: all 0.5s;
}
.hover-darkHover:hover {
  background-color: #2a004a; /* darkHover */
  transform: translateY(-4px);
}

.bg-darkTheme {
  background-color: #11001f; /* darkTheme */
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem; /* optional */
}

